include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
recursive-include docs *.rst
graft doconv/plugin/docbooktodita
exclude doconv/generate_conversions.py
